################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GridWorld/.vs/GridWorld/v15
/GridWorld/Troikatorz.GridWorld.Tests/bin/Debug/netcoreapp2.0
/GridWorld/Troikatorz.GridWorld.Tests/obj
/GridWorld/Troikatorz.GridWorld/bin/Debug
/GridWorld/Troikatorz.GridWorld/obj
